.section-2 {
  padding-top: 35px;
}

.container-1600 {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  font-family: Montserrat, sans-serif;
  object-fit: fill;
}

.container-1600.footer-grid {
  display: grid;
  padding-top: 40px;
  padding-bottom: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.container-1600.hide {
  display: none;
}

.heading-1 {
  margin-bottom: 0px;
  font-weight: 200;
}

.text-block {
  color: var(--blue);
  font-size: 3rem;
  line-height: 1.25;
  font-weight: 200;
}

.home-grid {
  display: grid;
  padding-top: 60px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 2.25fr 1fr;
  grid-template-rows: auto;
}

.home-grid-left {
  display: flex;
  padding-right: 50px;
  flex-direction: column;
  align-items: flex-start;
  border-right: 2px solid var(--red);
}

.home-grid-left.footer-left {
  padding-left: 10px;
  border: 1px none black;
}

.main-left-list {
  display: flex;
  margin-top: 40px;
  margin-bottom: 60px;
  align-items: flex-start;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.list-logo-left {
  width: 190px;
}

.p-main {
  color: var(--text-gray);
  font-size: 20px;
  line-height: 1.5;
}

.p-main.space-40 {
  margin-bottom: 40px;
}

.space-40 {
  margin-bottom: 40px;
}

.p-main.p-main-lh {
  line-height: 1;
}

.p-main.space-20 {
  margin-bottom: 20px;
}

.space-20 {
  margin-bottom: 20px;
}

.p-main.border-green {
  border-style: solid;
  border-width: 5px;
  border-color: hsla(107, 100.00%, 50.00%, 1.00);
}

.p-main.p-main-link {
  text-decoration: none;
}

.p-main-link {
  color: var(--text-gray);
  text-decoration: none;
}

.heading-2 {
  margin-bottom: 30px;
  color: var(--blue);
  font-size: 2.875rem;
  text-transform: uppercase;
}

.event-tabs {
  width: 100%;
  font-size: 20px;
  line-height: 1.25;
}

.tab-link-tab-1 {
  border-bottom: 1px solid var(--blue);
  background-color: var(--white);
  color: var(--text-gray);
}

.tab-link-tab-1:global(.w--current) {
  border-style: none none solid;
  border-width: 1px;
  border-color: var(--blue);
  background-color: var(--blue);
  color: var(--white);
}

.tab-link-tab-2 {
  border-bottom: 1px solid var(--blue);
  background-color: hsla(0, 0.00%, 86.67%, 0.00);
}

.tab-link-tab-2:global(.w--current) {
  border-bottom: 1px solid var(--blue);
  background-color: var(--blue);
  color: var(--white);
}

.event-list-tab {
  padding-top: 40px;
}

.event-list-item {
  position: relative;

  display: grid;
  margin-bottom: 50px;
  padding-bottom: 20px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 0.75fr 1fr;
  grid-template-rows: auto auto;

  border-bottom: 2px solid var(--red);
}

.event-list-item-title {
  margin-top: 0px;
  margin-bottom: 5px;
}

.event-list-item-date {
  color: var(--text-gray);
  font-weight: 600;
}

.event-list-item-location {
  padding-top: 20px;
  padding-bottom: 20px;
}

.red-btn {
  padding: 10px 30px;
  justify-content: flex-start;
  align-self: flex-start;

  background-color: var(--red);

  color: var(--white);
  font-size: 28px;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
}

.red-btn.space-40 {
  margin-bottom: 40px;
}

.event-list-item-right {
  display: flex;
  align-items: flex-start;
}

.event-list-item-image {
  position: relative;

  display: block;
  overflow: hidden;
  width: 100%;
  max-height: 300px;

  object-fit: cover;
  object-position: 50% 0%;
}

.home-grid-right {
  display: flex;
  flex-direction: column;
  grid-row-gap: 15px;
  color: var(--blue);
}

.home-grid-right.footer-right {
  display: flex;
}

.staff-item-blk {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  grid-row-gap: 100px;
}

.staff-item {
  color: var(--blue);
  text-align: left;
}

.image-4 {
  margin-bottom: 20px;
}

.staff-name {
  margin-bottom: 5px;
  font-size: 25px;
  line-height: 1.25;
}

.staff-title {
  font-size: 20px;
  line-height: 1.25;
  font-style: italic;
}

#w-node-_1fe1735a-5937-c76b-3bfd-7fcdf1bbf06f-f1bbf066 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_35221ded-0d43-a2fb-047a-a45cdf1919e0-f1bbf066 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  align-self: start;
}
#w-node-_1fe1735a-5937-c76b-3bfd-7fcdf1bbf097-f1bbf066 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  justify-self: center;
}