.section-2 {
  padding-top: 35px;
}

.container-1600 {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  font-family: Montserrat, sans-serif;
  object-fit: fill;
}

.container-1600.footer-grid {
  display: grid;
  padding-top: 40px;
  padding-bottom: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.heading-1 {
  margin-bottom: 0px;
  font-weight: 200;
}

.text-block {
  color: var(--blue);
  font-size: 3rem;
  line-height: 1.25;
  font-weight: 200;
}

.home-grid {
  display: grid;
  padding-top: 60px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 2.25fr 1fr;
  grid-template-rows: auto;
}

.home-grid-left {
  display: flex;
  padding-right: 50px;
  flex-direction: column;
  align-items: flex-start;
  border-right: 2px solid var(--red);
}

.home-grid-left.footer-left {
  padding-left: 10px;
  border: 1px none black;
}

.p-main {
  color: var(--text-gray);
  font-size: 20px;
  line-height: 1.5;
}

.p-main.space-40 {
  margin-bottom: 40px;
}

.p-main.p-main-lh {
  line-height: 1;
}

.text-link {
  color: var(--blue);
  font-size: 24px;
  line-height: 2;
  font-weight: 500;
  text-decoration: none;
}

.image-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.heading-2 {
  margin-bottom: 30px;
  color: var(--blue);
}

.home-left-list {
  display: flex;
  margin-top: 40px;
  align-items: flex-start;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.list-img-left {
  width: 70px;
}

.red-btn {
  padding: 10px 30px;
  justify-content: flex-start;
  align-self: flex-start;

  background-color: var(--red);

  color: var(--white);
  font-size: 28px;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
}

.red-btn.space-40 {
  margin-bottom: 40px;
}

.blue-btn {
  padding: 10px 30px;
  justify-content: flex-start;
  align-self: flex-start;

  background-color: var(--red);

  color: var(--white);
  font-size: 28px;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
}

.blue-btn.space-40 {
  margin-bottom: 40px;
  background-color: var(--blue);
}

.home-grid-right {
  display: flex;
  flex-direction: column;
  grid-row-gap: 15px;
  color: var(--blue);
}

.home-grid-right.footer-right {
  display: flex;
}

.number-item-blk {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  grid-row-gap: 100px;
}

.number-item {
  color: var(--blue);
  text-align: center;
}

.number-item-large {
  font-size: 110px;
  line-height: 1.25;
  font-weight: 300;
}

.number-item-small {
  font-size: 30px;
  line-height: 1.25;
  font-weight: 300;
}

#w-node-_24c8d3f0-ad4f-7bb8-85fd-c3626dac7127-6dac7120 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_24c8d3f0-ad4f-7bb8-85fd-c3626dac715e-6dac7120 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  justify-self: center;
}