.section-2 {
  padding-top: 35px;
}

.container-1600 {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  font-family: Montserrat, sans-serif;
  object-fit: fill;
}

.container-1600.footer-grid {
  display: grid;
  padding-top: 40px;
  padding-bottom: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.container-1600.hide {
  display: none;
}

.heading-1 {
  margin-bottom: 0px;
  font-weight: 200;
}

.text-block {
  color: var(--blue);
  font-size: 3rem;
  line-height: 1.25;
  font-weight: 200;
}

.home-grid {
  display: grid;
  padding-top: 60px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 2.25fr 1fr;
  grid-template-rows: auto;
}

.home-grid-left {
  display: flex;
  padding-right: 50px;
  flex-direction: column;
  align-items: flex-start;
  border-right: 2px solid var(--red);
}

.home-grid-left.footer-left {
  padding-left: 10px;
  border: 1px none black;
}

.join-form-info {
  width: 100%;
}

.join-form-info.mt-40 {
  margin-top: 40px;
}

.p-main {
  color: var(--text-gray);
  font-size: 20px;
  line-height: 1.5;
}

.p-main.space-40 {
  margin-bottom: 40px;
}

.space-40 {
  margin-bottom: 40px;
}

.p-main.p-main-lh {
  line-height: 1;
}

.p-main.space-20 {
  margin-bottom: 20px;
}

.space-20 {
  margin-bottom: 20px;
}

.p-main.border-green {
  border-style: solid;
  border-width: 5px;
  border-color: hsla(107, 100.00%, 50.00%, 1.00);
}

.p-main.p-main-link {
  text-decoration: none;
}

.p-main-link {
  color: var(--text-gray);
  text-decoration: none;
}

.p-main.ts-16 {
  font-size: 16px;
  line-height: 1.25;
}

.p-main.dd-head {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.p-main.dd-head:global(.w--open) {
  display: block;
  padding: 0px;
  text-align: left;
}

.p-main.dd-li {
  font-size: 16px;
}

.join-form-slot {
  width: 100%;
}

.home-grid-right {
  display: flex;
  flex-direction: column;
  grid-row-gap: 15px;
  color: var(--blue);
}

.home-grid-right.footer-right {
  display: flex;
}

.heading-2 {
  margin-bottom: 30px;
  color: var(--blue);
  font-size: 2.875rem;
  text-transform: uppercase;
}

.dropdown {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.dd-list {
  position: relative;
  background-image: linear-gradient(to bottom, var(--lt-gray),var(--lt-gray));
}

.dropdown-list {
  background-color: #ddd;
}

.dropdown-list:global(.w--open) {
  background-color: var(--white);
  background-image: none;
}

.dd-list.dd-list-1 {
  z-index: 20;
  background-image: none;
}

.dd-list.dd-list-2 {
  z-index: 30;
}

#w-node-_3fd8a6cc-3f8a-56be-ef07-a5bc06f5ed06-06f5ecff {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_3fd8a6cc-3f8a-56be-ef07-a5bc06f5ed1a-06f5ecff {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  justify-self: start;
}