.section-2 {
  padding-top: 35px;
}

@media screen and (max-width: 479px) {
  .section-2 {
    overflow: hidden;
    margin-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.container-1600 {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  font-family: Montserrat, sans-serif;
  object-fit: fill;
}

@media screen and (max-width: 479px) {
  .container-1600 {
    overflow: hidden;
  }
}

.container-1600.footer-grid {
  display: grid;
  padding-top: 40px;
  padding-bottom: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 479px) {
  .container-1600.footer-grid {
    overflow: hidden;
    grid-template-columns: 1fr;
  }
}

.container-1600.hide {
  display: none;
}

.heading-1 {
  margin-bottom: 0px;
  font-weight: 200;
}

@media screen and (max-width: 479px) {
  .heading-1 {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
  }
}

.text-block {
  color: var(--blue);
  font-size: 3rem;
  line-height: 1.25;
  font-weight: 200;
}

@media screen and (max-width: 479px) {
  .text-block {
    margin-top: 10px;
    font-size: 1.25rem;
    text-align: center;
  }
}

.home-grid {
  display: grid;
  padding-top: 60px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 2.25fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 479px) {
  .home-grid {
    padding-top: 20px;
    grid-template-columns: 2.25fr;
  }
}

.home-grid-left {
  display: flex;
  padding-right: 50px;
  flex-direction: column;
  align-items: flex-start;
  border-right: 2px solid var(--red);
}

@media screen and (max-width: 479px) {
  .home-grid-left {
    overflow: hidden;
    padding-right: 0px;
    border-right-style: none;
  }
}

.home-grid-left.footer-left {
  padding-left: 10px;
  border: 1px none black;
}

@media screen and (max-width: 479px) {
  .home-grid-left.footer-left {
    padding-left: 0px;
    align-items: center;
  }
}

.main-left-list {
  display: flex;
  margin-top: 40px;
  margin-bottom: 60px;
  align-items: flex-start;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

@media screen and (max-width: 479px) {
  .main-left-list {
    margin-bottom: 0px;
    flex-direction: column;
  }
}

.list-logo-left {
  width: 190px;
}

@media screen and (max-width: 479px) {
  .list-logo-left {
    width: 100px;
    margin-right: auto;
    margin-left: auto;
  }
}

.p-main {
  color: var(--text-gray);
  font-size: 20px;
  line-height: 1.5;
}

@media screen and (max-width: 479px) {
  .p-main {
    font-size: 1rem;
    line-height: 1.25;
    text-align: left;
  }
}

.p-main.space-40 {
  margin-bottom: 40px;
}

.space-40 {
  margin-bottom: 40px;
}

.p-main.p-main-lh {
  line-height: 1;
}

.p-main.space-20 {
  margin-bottom: 20px;
}

.space-20 {
  margin-bottom: 20px;
}

.p-main.border-green {
  border-style: solid;
  border-width: 5px;
  border-color: hsla(107, 100.00%, 50.00%, 1.00);
}

.p-main.p-main-link {
  text-decoration: none;
}

.p-main-link {
  color: var(--text-gray);
  text-decoration: underline;
}

.p-main.ts-16 {
  font-size: 16px;
  line-height: 1.25;
}

.p-main.dd-head {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.p-main.dd-head:global(.w--open) {
  display: block;
  padding: 0px;
  text-align: left;
}

.p-main.dd-li {
  font-size: 16px;
}

.p-main.contact-p {
  font-size: 28px;
  line-height: 1.25;
}

@media screen and (max-width: 479px) {
  .p-main.contact-p {
    font-size: 1.125rem;
  }
}

.heading-2 {
  margin-bottom: 30px;
  color: var(--blue);
  font-size: 2.875rem;
  text-transform: uppercase;
}

@media screen and (max-width: 479px) {
  .heading-2 {
    margin-bottom: 15px;
    font-size: 1.185rem;
    text-align: center;
  }
}

.blue-btn {
  padding: 10px 30px;
  justify-content: flex-start;
  align-self: flex-start;

  background-color: var(--blue);

  color: var(--white);
  font-size: 28px;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 479px) {
  .blue-btn {
    margin-right: auto;
    margin-left: auto;
    font-size: 1.25rem;
  }
}

.blue-btn.space-40 {
  margin-bottom: 40px;
  background-color: var(--blue);
}

@media screen and (max-width: 479px) {
  .blue-btn.space-40 {
    margin-right: auto;
    margin-left: auto;
    font-size: 1.125rem;
  }
}

.home-grid-right {
  display: flex;
  flex-direction: column;
  grid-row-gap: 15px;
  color: var(--blue);
}

@media screen and (max-width: 479px) {
  .home-grid-right {
    overflow: hidden;
    grid-row-gap: 0px;
  }
}

.home-grid-right.footer-right {
  display: flex;
}

.staff-item-blk {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  grid-row-gap: 100px;
}

@media screen and (max-width: 479px) {
  .staff-item-blk {
    grid-row-gap: 20px;
  }
}

.staff-item {
  color: var(--blue);
  text-align: left;
}

@media screen and (max-width: 479px) {
  .staff-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.image-4 {
  margin-bottom: 20px;
}

@media screen and (max-width: 479px) {
  .image-4 {
    width: 100px;
    margin-bottom: 10px;
  }
}

.staff-name {
  margin-bottom: 5px;
  font-size: 25px;
  line-height: 1.25;
}

@media screen and (max-width: 479px) {
  .staff-name {
    font-size: 1.25rem;
  }
}

.staff-title {
  font-size: 20px;
  line-height: 1.25;
  font-style: italic;
}

@media screen and (max-width: 479px) {
  .staff-title {
    font-size: 1rem;
  }
}

#w-node-_23342329-fc6b-e536-fbf8-e753dcea538f-dcea5388 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_23342329-fc6b-e536-fbf8-e753dcea53e6-dcea5388 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  justify-self: center;
}