.navbar {
  background-color: hsla(0, 0.00%, 100.00%, 0.00);
}

.container {
  display: block;
  width: 100%;
  max-width: 1660px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
  justify-content: space-between;
  align-items: center;

  border-style: none;
  border-width: 1px;
  border-color: hsla(0, 85.19%, 48.96%, 1.00);
}

.container.hide {
  display: none;
}

@media screen and (max-width: 479px) {
  .brand {
    padding-right: 10px;
  }
}

.image {
  width: 640px;
}

.div-block {
  position: relative;

  display: flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media screen and (max-width: 479px) {
  .div-block {
    align-items: flex-end;
  }
}

@media screen and (max-width: 479px) {
  .div-block.hide {
    display: none;
  }
}

.dir-menu {
  display: flex;
  justify-content: flex-end;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media screen and (max-width: 479px) {
  .dir-menu {
    align-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
  }
}

.dir-button {
  display: block;
  padding: 10px 15px;

  background-color: var(--blue);

  font-family: Montserrat, sans-serif;
  color: var(--white);
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (max-width: 479px) {
  .dir-button {
    display: flex;
    padding: 5px 10px;
    align-items: center;

    font-size: 18px;
    line-height: 1.25;
    text-align: center;
  }
}

.mem-button {
  display: block;
  padding: 10px 15px;

  background-color: var(--red);

  font-family: Montserrat, sans-serif;
  color: var(--white);
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.mem-button.hide {
  display: none;
}

.nav-menu {
  display: flex;
  grid-column-gap: 15px;
  grid-row-gap: 20px;
}

.dropdown-toggle {
  padding-right: 30px;
  padding-left: 10px;
}

.dd-main-link {
  text-decoration: none;
}

.nav-link {
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;

  font-family: Montserrat, sans-serif;
  color: var(--text-gray);
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
}

.nav-link.hide {
  display: none;
}

.dropdown-list-2 {
  background-color: #ddd;
}

.dropdown-list-2:global(.w--open) {
  overflow: hidden;
  background-color: var(--white);
}

.dd-link {
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  font-family: Montserrat, sans-serif;
  color: var(--text-gray);
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
}