@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  border-left: 50px solid #c3271b;
  color: #102647;
  @apply text-[#102647];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-[#102647];
}

input,
textarea {
  border: 1px solid #102647;
}

/* FORMS */
.form-main {
  @apply flex mt-10 text-base w-full max-w-[1600px] ml-auto mr-auto;
  font-family: "Montserrat", sans-serif;
}

.form-margin-top {
  @apply mt-0;
}

.form-center {
  @apply flex flex-col;
}

.form-label {
  @apply font-light text-base;
}

.form-input {
  @apply w-[400px] text-base p-2;
}

/* BEGIN OVERRIDES */
/* FULL CALENDAR */
.fc-daygrid-event {
  white-space: pre-wrap !important;
}

.fc-event a b {
  padding-right: 5px;
}

/* WEBFLOW */
.w-nav {
  background-color: hsla(0, 0%, 100%, 0) !important;
}

/* TABS */
.w-tab-link.w--current {
  border-style: none none solid !important;
  border-width: 1px !important;
  border-color: var(--blue) !important;
  background-color: var(--blue) !important;
  color: var(--white) !important;
}

.w-tab-link {
  border-bottom: 1px solid var(--blue) !important;
  background-color: hsla(0, 0%, 86.67%, 0) !important;
}

/* BUTTONS */
.w-button {
  padding: 10px 30px !important;
  justify-content: flex-start !important;
  align-self: flex-start !important;
  background-color: var(--red) !important;
  color: var(--white) !important;
  font-size: 28px !important;
  line-height: 1.25 !important;
  text-align: center !important;
  text-decoration: none !important;
}

/* FORMS */
.reg-border {
  border: solid 2px #102647;
}

/* SCROLL IMAGES */
.image-scroll-item {
  padding-right: 100px;
}

/* REMOVE LIGHTBOX ARROWS */
.yarl__navigation_prev,
.yarl__navigation_next {
  display: none;
}

/* END OVERRIDES */

@media screen and (max-width: 1600px) {
  .HomeMain_section-2__GxDo4,
  .AboutSection_section-2__Jx5cZ,
  .HistorySection_section-2__M5ZeG,
  .OrganizationSection_section-2___XbGw,
  .HammerNailsSection_section-2__r2084,
  .MemberSection_section-2__o3AJi,
  .MemberBenefitsSection_section-2__K_0zj,
  .FaqSection_section-2__OEt6G,
  .Base21WebflowSection_section-2__4WggG,
  .EventsListSection_section-2__oTt_r,
  .ContactSection_section-2__fTHyQ,
  .JoinGfwbaSection_section-2__ayd_F,
  .ProfileSection_section-2__0c_Qr {
    padding-left: 10px;
  }
}

@media screen and (max-width: 1600px) {
  .btn-res-padding {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1600px) {
  h1 {
    @apply text-7xl !important;
  }

  h2 {
    @apply text-4xl !important;
  }

  .MemberSection_staff-title__h59de {
    @apply text-lg !important;
  }
}

@media screen and (max-width: 768px) {
  body {
    border-left: 20px solid #c3271b;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    @apply text-3xl !important;
  }

  h2 {
    @apply text-2xl !important;
  }

  .image-scroll-item {
    padding-right: 40px;
    max-height: 50px;
    width: 80%;
  }

  .EventsListSection_event-calendar-tab___RTls {
    padding-top: 20px !important;
  }

  .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1em !important;
  }

  .fc .fc-button,
  .fc-toolbar-title {
    font-size: 0.8em !important;
  }

  .fc-today-button {
    @apply text-base !important;
  }

  .fc .fc-button .fc-icon {
    font-size: 1em !important;
    vertical-align: middle;
    padding: 0 !important;
  }

  .fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    margin-left: 1em;
  }

  .w-tab-menu {
    @apply flex flex-row w-full justify-center !important;
    padding: 0px 0px 0px 0px !important;
  }

  .fc table {
    font-size: 0.8em;
  }

  .fc .fc-toolbar {
    @apply flex flex-col !important;
  }

  .w-tab-link {
    padding: 4px 20px !important;
  }

  .EventsListSection_text-block-4__BpvwP,
  .EventsListSection_text-block-5__MFNv8 {
    @apply text-base !important;
  }
}
